#main {
    margin-top: 2px !important;
}
.content-search {
    margin-top: -5vh;
    position: relative;
}
.content-card {
    background-color: #fff;
    margin-bottom: 15px;
}
.content-card__about {
    padding: 20px;
}
.content-card h4 {
    color: #d7a449;
    font-size: 32px;
    font-weight: 600;
}

.container {
    background-color: #fff;
}
.container-header h4 {
    padding-top: 25px;
    font-size: 24px;
    text-align: center;
    color: #d7a449;
}
.container-header h4:before {
    height: 1px;
    background: #ffb300;
    width: 100%;
    display: block;
    content: " ";
    margin-bottom: -23px;
}
.container-header h4 span {
    padding: 0 20px;
    background-color: #fff;
}
.container-card {
    width: 300px;
    background-color: #fff;
}