.header, .header-space {
    height: 45px;
}
.header {
    width: 100%;
    position: fixed;
    z-index: 999;
    transition: top 0.3s;
    /*background-color: #fff4eb;*/
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.header-wrapper {
    display: flex;
    width: 100%;
    height: 100%;
}
.header-main {
    display: flex;
    width: 100%;
}
.header-logo {
    height: min-content;
    margin: 0 0 0 15px;
    font-size: 28px;
    font-weight: 600;
    color: #d7a449;
}
.header-links {
    display: flex;
    margin-left: auto;
}
.header-link {
    height: min-content;
    margin: auto 0 auto 20px;
    font-weight: 600;
}
.header-icon {
    display: none;
    margin: 0 15px 0 auto;
    font-size: 28px;
}
/*navbar - mobile version*/
@media screen and (max-width: 600px) {
    .header-links {
        display: none;
    }
    .header-links .header-responsive {
        margin-top: 10px;
    }
    .header-link {
        margin: 0 !important;
        padding: 16px;
        background-color: #e4e4e4;
    }
    .header-icon {
        display: block;
    }
}
@media screen and (max-width: 600px) {
    .header-responsive {
        display: block !important;
    }
}